.case-list-item .form-control {
  box-shadow: none !important;
}

.case-list-item.non-active .form-control:focus {
  border-color: transparent;
  background-color: transparent;
}

.case-list-item.active .form-control:focus {
  border-color: hsl(0, 0%, 50%);
}
